<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="jumbotron">
                <div id="username">
                        user name: <%= email %> 
                 </div>

                <div name='header'>
                        header searach item <a href='/registration.html' >edit profile link</a>
                </div>
                <div My credit card>
                       My Credit card INFO. 
                </div>
                <div My Orders>
                        My Orders INFO. 
                </div>
                <div My Address>
                        My Address. 
                </div>  
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>